@import url(https://fonts.googleapis.com/css?family=Roboto);
/*@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700);*/
@import url(http://fonts.googleapis.com/css?family=Droid+Serif);

body {
    width: 100%;
    height: 100%;
}

/************************ header **************************/
header {
    height: 4em;
    background: #512DA8;
    position: relative;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
#logo {
    border-radius: 50%;
    border: solid 4px #ffffff;
    height: 2em;
    width: 2em;
    position: absolute;
    top: 0.78125em;
/*
    top: 50%;
    transform: translateY(-50%);
*/
    margin-left: 3.333333333333333%;
}

header #menu {
    position: absolute;
    border: solid 2px #ffffff;
    border-radius: 4px;
    top: 1em;
/*
    top: 50%;
    transform: translateY(-50%);
*/
    right: 3.333333333333333%;
    padding: .5em;
    font-size: 3.333333333333333% 1em;
    color: #fff;
    font-weight: 600;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

nav {
    background: #512DA8;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    padding: 0.75em 0;
    border-bottom: 1px solid rgba(200,200,200,0.2);
}

nav ul li:last-child{
    padding-bottom: 0.75em;
    border: none;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    font-weight: 600;
}

/****************** footer ********************/

footer {
    text-align: center;
}

footer p {
    font-family: 'Roboto', sans-serif;
    color: #212121;
    font-size: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}
footer p a {
    color: #00f;
    font-size: 1em;
}



/****************** collection page ***********/

/****************** writings ******************/

#content {
    width: 93.33333333333333%;
    margin: 2em 3.333333333333333% 1.5em 3.333333333333333%;
    font-family: 'Droid Serif', serif;
    color: #212121;
}
.page_date {
    font-weight: bold;
    font-size: 1em;
    padding: 1em 0 0.5em 0;
    color: rgba(0,0,0,0.6);
    text-transform: uppercase;
}

.page_title {
    color: #311B92;
    font-size: 1.75em;
    padding: 0 0 0.5em 0;
    text-transform: uppercase;
}

#content #post p, #content #posts_list p {
    font-size: 1em;
    color: #37474F;
    font-weight: 200;
    line-height: 1.6em;
    margin-bottom: 1.25em;
}


#content #post h3 {
    font-size: 1.5em;
}

#content #post h4 {
    font-size: 1.25em;
    font-weight: 400;
}

#content #post p::first-letter  {
/*
    font-size: 1.75em;
    font-weight: bold;
    margin-right: .05em;
*/
}
#content #post img {
    width: 100%;
    margin-bottom: 1.25em;
}
#content #post a {
    color: #0277bd;
    font-weight: 500;
}
.post_excerpt {
    margin: 1em 0;
}
.post_excerpt p.test {
    font-size: 1em;
    color: #37474F;
    font-weight: 200;
    line-height: 1.6em;
    margin-bottom: 1.25em;
}
ol {
    list-style: decimal;
    font-size: 1em;
    color: #37474F;
    margin:  1em auto 1em 10%;
}
ol li {
    margin-bottom: 0.5em;
    line-height:1.6em; 
}
.quote {
    font-size: 1.2em;
    color: #37474F;
    font-style: italic;
    line-height: 1.8em;
    border-left: solid .25em #999;
    padding-left: 0.8em;

}
/******************* home *********************/
#content #about {
    
}

#posts_list {
}

#posts_list h2 {
    color: #311B92;
    font-size: 2em;
    padding: 0 0 0 0;
    text-transform: uppercase;
    font-weight: 400;
    
}

#posts_list ul {
    padding-top: 1em;
}

#posts_list ul li {
    margin: 0 0 1em 0;
}
#posts_list ul .post_list_date {
    text-transform: uppercase;
    margin-bottom: 1em;
}
#posts_list ul li a{
    font-size: 1.25em;
    color: #37474F;
    font-weight: 200;
    line-height: 1em;
    margin-bottom: 1.25em;
}

#post_list ul li a:visited {
}

/****************** about page ****************/
#about_me #greeting {
    text-transform: uppercase;
    font-size: 3em;
    margin-bottom: 100px;
}
#about_me #me  {
    width: 50%;
    margin: 0 auto;
}
#about_me p {
    font-size: 1.2em;
    margin: 1em 0;
}

#reach_out {
    width: 20%;
    margin: 0 auto;
    text-align: center;
}

#reach_out li {
    margin-bottom: 1em;
    display: inline-block;
    
}

#reach_out li a img {
    margin-bottom: 0.5em;
    width: 70%;


}

#reach_out li a {
    text-transform: uppercase;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #673ab7;
    text-align: center;
}
#reach_out li a span {
}
/****************************Media Queries *****************************/

@media(min-width: 30em){
}

@media(min-width: 50em){ 
}






