@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);

body {
    width: 90%;
    padding-left: 5%;
    font-family: 'Open Sans', sans-serif;
}

/************************ header **************************/
header {
    padding: 1.25em 1.25em;
    border-bottom: 3px solid rgba(238, 238, 238, 0.9);
}
#logo {
    color: rgba(79, 68, 68, 0.9);
    font-size: 2em;
}

nav {
    padding-bottom: 0.625em; /* 10px /16px */;
    margin-bottom: 0.625em; /* 10px / 16px */
    position: absolute;
    top: 0;
    right: 5%;
}

header #menu {
    display: none;
}

nav ul {
    margin: 0;
    padding: 0;
    text-align: right;
    list-style: none;
}

nav ul li {
    padding: 0.625em 0.625em 0.625em 0.625em;
    display: inline-block;
    color: rgba(79, 68, 68, 0.9);
    font-size: 2em;
}

nav ul li:last-child{
    padding-right: 0;
}

nav ul li a, #logo a {
    color: rgba(12, 12, 12, 0.68);
    text-decoration: none;
}

/****************** footer ********************/

footer {
    border-top: 1px solid rgba(238, 238, 238, 0.9);
    text-align: center;
    padding: 0.625em 0px 0.625em 0px;
    margin: 0.625em 0px 0.625em 0px;
    font-size: .75em;
}


/****************** about page ****************/

/****************** collection page ***********/

/****************** writings ******************/


#content {
/*    text-align: center;*/
    margin: auto 10%;
    line-height: 1.8em;
}

.post_title {
    font-size: 2.2em;
    color: rgba(255, 20, 20, 0.68);
    margin: 1em auto;/* 10px / 16px */
}

#content p {
    font-size: 1.3em;
}
#content img {
    margin:1.25em -10%;
    max-width: 120%;
    box-shadow: 0 10px 6px -6px #777;
    border: 1px solid #eee;
}

/******************* home *********************/
#about {
    line-height: 2em;
    font-size: 1.2em;
    margin: 1.5em 0 0 0;
}

#posts_list {
    margin: 1.5em 0 1.5em 0;
}

#posts_list h2 {
    margin: 0 0 1em 0;
    font-size: 2em;
    color: rgba(255, 20, 20, 0.68);
}

#posts_list ul {
    list-style: none;
}

#posts_list ul li {
    margin: 0 0 1em 0;
}

/****************************Media Queries *****************************/

@media(max-width: 800px){
    #logo{
        display: block;
        text-align: center;
    }
    nav {
        padding: 0;
        top: 4.5625em;
        right: 0;
        left: 0;
    }
    nav ul {
        display: block;
        text-align: center;
    }
    nav ul li {
        font-size: 1.5em;
    }
    nav ul li:last-child{
        padding-right: .625em;
    }
    
    #content {
        margin-top: 4.5em;
        margin-left: 0;
        margin-right: 0;        
    }
    #content img {
        margin:1.25em -1.25em;
        width: calc(100% + 2.5em);
    }
}

@media(max-width: 480px){
    body, header, content, nav {
        width: 100%;
        margin: auto 0;
        padding-left: 0px;
        padding-right: 0px;
        text-align: auto;
    }
    
    header #logo {
        text-align: left;
        margin-left: 3%;
    }
    nav {
        position: static;
        background: #143; 
        margin: 0;
        padding: 0;
        width: calc(100% + 2.5em);
    }
    nav ul {
    }
    nav ul li {
        display: block;
        text-align: center;
        padding:0 0 0.5em 0;
    }
    nav ul li:first-child{
        padding-top: 0.5em;
    }
    nav ul li a {
        color: #fff;
    }
    #content{
        margin-left: 3%;
        margin-right: 3%;
        margin-top: 0;
    }
    #about {
        margin-top: 1.5em;
    }
    header #menu {
        display: block;
        position: absolute;
        right: 3%;
        top: .75em;
        font-size: 1.5em;
        background: #144;
        padding: .25em;
        color: #fff;
        border-radius: 3px;
    }
}






