/* Grid system */

$pad: 20px;

* {
  box-sizing: border-box;
}

/* Base Grid Container */
.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: $pad;
}

/* Content Wrappers */
header {
  grid-column: 4/10;
}

/* Content Wrappers */
.content {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
}

/* Case Study Layout */
.case_study_wrapper {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;

  .case_study_content {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;

    // Default content alignment (columns 4-10)
    h1, h2, h3, p, ul {
      grid-column: 4 / 10;
    }
    video {
      grid-column: 3 / 11;
    }
    section {
      display: grid;
      grid-template-columns: subgrid;
      grid-column: 1 / -1;

      // Section content alignment
      h1, h2, h3, p, ul {
        grid-column: 4 / 10;
      }

      // Wider figure layout
      figure {
        grid-column: 3 / 11;
      }
    }
  }
}

/* Readings Section */
.readings_wrapper {
  display: grid;
  grid-column: 4 / 10;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: $pad;
}

/* Bio Section */
.bio_wrapper {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
  .bio {
    grid-column: 5 / 10;
  }
  .headshot {
    grid-column: 4 / 5;
  }  
}

.quotes_wrapper {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
  blockquote {
    grid-column: 4 / 10 ;
  }
}

.works_wrapper {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
  a {
    grid-column: 4 / 10 ;
  }
}

/* Global Element Positioning */
h1, h2, h3, h4, h5,
.works,
footer,
header {
  grid-column: 4 / 10;
}



