<!DOCTYPE html>
<html>
<head>
	<title>Guided Fantasy : Web home of abdul raoof</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/reset.css">
	<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/main.css">
</head>
<body>
	<div class="container">
		<header>
			<a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/assets/logo/logo.png" id="logo"></a>
			{% include nav.html %}
		</header>
		<article role="main">
			{{content}}
		</article>
		{% include footer.html %}
	</div>
	<script   src="http://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<!--	<script type="text/javascript" src="{{site.baseurl}}/script/main.js"></script>-->
</body>
</html>